body{
  font-family: Bebas Neue;
}
.menuspace{
  margin-top: 20px;
  margin-left: 1100px;
  word-spacing: 20px;
}
.width{
  float: left;
  width: 40%;
  margin-left: 10px;
}
#head1{
  color:#363958;
  font-weight: bold;
  font-size: 60px;
  line-height: 2%;
  margin-top: 150px;
  margin-left: 120px;
  }
#head2{
  color:#ff8367;
  font-weight: bold;
  font-size: 60px;
  line-height: 2%;
  margin-left: 120px;
  margin-bottom: 80px;

}
.ltlTxt{
  margin-left: 120px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  line-height: 50%;

}
.button{
  text-decoration: none;
  color: #FFFFFF;
  background-image: linear-gradient(#FF8063,#F46060);
  padding:10px;
  margin-left: 120px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 10px;
  width: 25%;
}
img{
  width: 100%;
}
.widthImg1{
  margin-top: 30px;
  float: right;
  margin-right: 50px;
  width: 45%;
}
.widthImg2{
  margin-top: 15%;
  float: left;
  width: 30%;
  margin-left: 120px;

}
.About{
  color: #363958;
  margin-top: 50%;
  margin-left: 55%;
  font-size: 50px;
  margin-bottom: 10px;
}
.about{
  font-family: arial;
  max-width: 400px;
  margin-left: 55%;
  color: #3E3E3E;
}
.button2{
  text-decoration: none;
  color: #FFFFFF;
  background-image: linear-gradient(#FF8063,#F46060);
  padding:10px;
  /* margin-left: 825px; */
  margin-left: 255px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 10px;
}
.bgcolor{
  margin-top:10%;
  background-color:#F8F9FC;
  padding-bottom: 35%;
}
#latest{
 color: #F46060;
}
#latest1{

  font-size: 60px;
  margin-left: 20%;
  padding-top: 5%;
  color: #3E3E3E;
}
.img3{
  box-shadow:1px 2px rgba(0, 0, 0, 0.034);
  border-radius: 5%;
  margin-left: 6%;
  float: left;
  width: 24%;
  padding: 1%;
  background-color: white;
}
.img4{
  box-shadow:1px 2px rgba(0, 0, 0, 0.034);
  margin-left: 5%;
  float: left;
  width: 24%;
  border-radius: 5%;
  padding: 1%;
  background-color: white;
} 
.imgBG{
  margin-top:1%;
  background-image: url(Group_33094_1.png);
  background-color: white;
  height: 400px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.work{
  padding-top:9%;
  font-size: 50px;
  color : white;
  padding-left: 30%;
  float: left;
}
.workb{
  padding-top: 13.5%;
  padding-left: 60%;
}
.button3{
  text-decoration: none;
  color: #FFFFFF;
  background-image: linear-gradient(#FF8063,#F46060);
  padding:10px;
  border-radius: 2px;
  font-size: 15px;
  border: 50px;
}
.connect{
  color: #3E3E3E;
  padding-top: 5%;
  text-align: center;
  font-size: 25px;
}
.com{
  text-decoration: none;
  color: #363958;
  
  text-align: center;
  font-size: 30px;
  
  
}
.margin{
  margin-top: 7%;

}
.imgmini{
  width: 50px;
  float: left;
  padding-left: 42%;
}
.imgmini2{
  width: 50px;
  float: left;
  padding-left: 2%;
  padding-bottom: 10%;